.fabric
config/xaeropatreon.txt
crash-reports
data
logs
ModTranslations
options.amecsapi.txt
options.txt
realms_persistence.json
saves
screenshots
servers*
usercache.json
XaeroWaypoints*
XaeroWorldMap/*

!config/yosbr/options.txt
